{
  "extends": [
    "prettier",
    "prettier/react"
  ],
  "parser":"babel-eslint",
  "rules": {
    "require-jsdoc":"warn",
    "no-useless-escape":"error",
    "block-spacing":["warn", "never"],
    "semi": [2, "never"],
    "no-trailing-spaces":"error",
    "space-unary-ops":"error",
    "no-mixed-spaces-and-tabs":"error",
    "indent": ["error", 2],
    "no-multiple-empty-lines":"error",
    "no-console":["warn", { "allow": ["warn", "error"]}],
    "object-property-newline":["error", {"allowAllPropertiesOnSameLine": true}],
    "object-curly-spacing":"error",
    "prefer-template":"warn",
    "arrow-spacing":"error",
    "jsx-quotes":"error",
    "prefer-arrow-callback":"warn",
    "no-duplicate-imports":"error",
    "dot-location":["error", "property"],
    "no-multi-spaces":"error",
    "radix":"error",
    "comma-dangle":["error", "never"],
    "prefer-const":"error",
    "array-bracket-newline":"error",
    "react/sort-comp": "error",
    "react/jsx-closing-bracket-location": "error",
    "react/jsx-handler-names":"error",
    "react/jsx-sort-props":"error",
    "react/no-deprecated": "warn",
    "lines-between-class-members":"error"
  },
  "parserOptions": {
    "sourceType":"module",
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true,
      "classes": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "prettier",
    "react"
  ]
}